:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: roboto;
}

body {
  color: #555;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.messenger{
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messenger i{
  position: fixed;
  right: 0;
  font-size: 80px;
  color: rgb(0, 153, 255);
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 768px) {
  .messenger i{
    font-size: 50px;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
